:root {
    --header-font: 'Inter', sans-serif;
    --p-font: 'Roboto', sans-serif;
    --header-color: #1b1c1e;
    --hover-color: #0f8ff7;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #070a13;
    list-style: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0f8ff7;
    border-radius: 10px;
}

.navbar__toggle {
    display: none;
}

.main {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

.main .container, .row, .buttons{
    height: 100%;
}

.main .container .row {
    display: flex;
    align-items: center;
}

.main .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
}

.main .name-logo {
    text-decoration: none;
    color: #fff;
    font-family: var(--header-font);
    font-size: 26px;
    transition: 0.2s ease-in-out;
}

.main .main-menu a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: var(--header-font);
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.main .main-menu a:hover, .main .name-logo:hover {
    color: var(--hover-color);
}

.onscroll {
    background: #070a13;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}

.hero {
    padding: 150px 0 0 0;
    margin-top: 60px;
    height: 100%;
    color: #fff;
    position: static;
}

.hero img {
    border-radius: 5px;
}

.hero h3 {
    font-family: var(--header-font);
    font-family: var(--p-font);
    font-size: 42px;
    font-weight: 700;
}

.hero p {
    font-size: 24px;
}

.hero p span {
    color: var(--hover-color);
}

.hero .columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero .columns .col-md-6 {
    width: 100%;
}

.hero .columns a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.hero .columns a:hover {
    opacity: 0.7;
}

.hero .columns a i{
    font-size: 36px;
    color: #fff;
}

.hero .fa-instagram {
    margin: 0 15px;
}

.hero h2 {
    font-family: var(--header-font);
    font-size: 28px;
    text-align: center;
    padding: 175px 0;
}

.hero h2 i {
    font-size: 32px;
    margin: 0 15px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}

.about {
    background-color: #070a13;
    color: #fff;
    padding: 150px 0;
}

.about .container {


    height: 100%;
    margin: 0 auto;
}

.about h6 {
    color: var(--hover-color);
    text-transform: uppercase;
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 18px;
}

.about p {
    font-family: var(--header-font);
    font-size: 16px;
    color: #fff;
}

.about p span {
    color: var(--hover-color);
}

.about img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.about .contactBtn {
    padding: 7px 10px;
    border: 1px solid #1b1c1e;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--header-font);
    transition: 0.2s ease-in-out;
}

.about .contactBtn:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
    color:#fff;
}

.about .col-md-6:last-child {
    display: flex;
    justify-content: center;
}

.projects {
    padding: 75px 0;
    color: var(--header-color);
    background-color: #070a13;
}

.projects .project-item {
    border-radius: 7px;
    padding: 25px;
    outline: none;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    margin: 30px auto;
    background-color: #10131e;
    width: 100%;
}

.projects h4 {
    color: var(--hover-color);
    font-family: var(--header-font);
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    width: 90%;
}

.projects h2 {
    width: 100%;
    margin: 10px 0;
    color: #fff;
    font-family: var(--header-font);
    font-weight: 800;
}

.projects h3 {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 32px;
    color: #fff;
}

.projects p {
    font-family: var(--p-font);
    color: #dbdbdb;
}

.projects span {
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: var(--p-font);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    width: fit-content;
    color: #fff;
    background-color: #070a13;
}

.projects img {
    width: 75%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.projects .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .col-md-8, .col-md-4{
    width: 100%;
}

.projects .col-md-10 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects .col-md-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.projects a {
    font-size: 24px;
    text-decoration: none;
    color: #dbdbdb;
    transition: 0.2s ease-in-out;
    padding: 0 20px;
}

.projects a:hover {
    color: var(--hover-color)
}

.contact {
    padding: 50px 0;
    background-color: #070a13;
}

.contact .container {
    padding: 50px;
}

.contact .contact-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact h4 {
    color: var(--hover-color);
    font-family: var(--header-font);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.contact p {
    color: #dbdbdb;
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 20px;
}

.contact i {
    font-size: 42px;
    color: var(--hover-color);
}

.contact .mail {
    margin: 0 25px;
}

.contact .mail h3 {
    font-size: 20px;
    color: #fff;
    font-family: var(--header-font);
    font-weight: bold;
    margin: 0;
}

.contact .mail a {
    font-size: 20px;
    color: #dbdbdb;
    margin: 0;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.contact .mail a:hover {
    color: var(--hover-color);
}

.footer  {
    background-color: #070a13;
    color: #fff;
    font-family: var(--header-font);
    height: 10vh;
}

.footer .container, .footer .row {
    height: 100%;
}

.footer .row .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    margin: 0 auto;
    font-size: 18px;
    user-select: none;
}

.footer .col-md-6 .instagram{
    margin: 0 30px;
}

.footer a i {
    font-size: 32px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.footer a i:hover {
    opacity: 0.7;
}

.scroll-btn {
    display: none;
    padding: 7px 15px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}

.btn-styling {
    padding: 7px 15px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid;
    border-color: #fff;
    color: #070a13;
    font-size: 20px;
    transition: 0.5s ease;
    font-weight: 600;
    font-family: "Noto Sans", Arial, sans-serif;
    text-decoration: none;
}

.btn-styling:hover {
    background-color: #fff;
    color: #161616;
}

/* LAPTOP 992 TO 1024PX */

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .hero h3 {
        font-size: 36px;
    }

    .hero p {
        font-size: 22px;
    }

    .about {
        padding: 75px 0;
    }

    .about .container {
        width: 85%;
    }

    .projects .container {
        width: 85%;
    }

    .projects h2 {
        font-size: 28px
    }

    .contact {
        padding: 0 0 75px 0;
    }

    .contact .container {
        width: 90%;
    }

    .footer .col-md-6:last-child {
        justify-content: flex-end;
        padding-right: 75px;
    }
}

/* TABLET 768 TO 991px */

@media screen and (max-width: 991px) {

    .hero {
        padding: 75px 0;
    }

    .hero .row {
        flex-direction: column;
        gap: 3rem;
    }

    .hero .col-md-6 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero h3 {
        font-size: 48px;
    }

    .hero p {
        font-size: 20px;
        max-width: 80%;
        text-align: center;
    }

    .hero .columns > .col-md-6:not(:last-child) {
        flex-direction: column;
        margin: 50px 0;
    }

    .hero h2 {
        padding: 100px 0 0 0;
    }

    .about {
        padding: 75px 0;
    }

    .projects img {
        width: 100%;
    }
    
    .projects .col-md-6:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projects a {
        font-size: 22px;
    }

    .contact .container {
        padding: 0 12px;
    }

    .contact .mail a {
        font-size: 18px;
    }

    .footer h4 {
        font-size: 13px;
    }
}

/* MOBILE 425PX TO 768PX */

@media screen and (max-width: 768px) {
    .main .main-menu {
        display: none;
    }

    .main .row .col-md-6 {
        width: auto;
    }

    .main .row {
        display: flex;
        justify-content: space-between;
    }

    .hero .col-md-6 h3 {
        font-size: 42px;
        text-align: center;
    }

    .hero .col-md-6 p {
        font-size: 16px;
        max-width: 100%;
        margin: 0;
    }
    
    .hero img {
        width: 80%;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero h2 i {
        font-size: 26px;
    }

    .navbar__toggle {
        align-items: center;
        background-color: #070a13;
        display: flex;
        height: 100vh;
        justify-content: center;
        left: -100%!important;
        position: fixed;
        text-align: center;
        top: 0;
        transition: all .3s ease-in-out;
        width: 100%;
        z-index: 300;
    }

    .navbar__toggle .closeNavbar {
        cursor: pointer;
        font-size: 3.3rem;
        position: absolute;
        right: 10px;
        top: 20px;
        color: #fff;
        font-family: 'Font Awesome 6 Free';
    }

    .navbar__toggle ul {
        display: flex;
        flex-direction: column;
        font-size: 23px;
        gap: 4rem;
        list-style: none;
    }

    .navbar__toggle ul a{
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
    }

    .main .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
      }

      .open-menu {
        align-items: center;
        background-color: #070a13;
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        transition: all .3s ease-in-out;
        width: 100%;
        z-index: 300;
    }

    .closeNavbar .bar:nth-child(1) {
        opacity: 0;
    }

    .closeNavbar .bar:nth-child(2) {
        transform: translateX(0) rotate(45deg);
    }

    .closeNavbar .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .open-menu {
        left: 0!important;
    }

    .about {
        padding: 75px 15px;
    }

    .about .row {
        gap: 2.5rem;
    }

    .about img {
        width: 100%;
    }

    .projects .row {
        gap: 2.5rem;
    }
    
    .projects .col-md-6:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projects .project-item p {
        font-size: 16px;
    }

    .project-item h3 {
        font-size: 28px;
    }

    .projects a {
        font-size: 22px;
    }

    .contact {
        padding: 75px 15px;
    }

    .contact .row {
        gap: 2.5rem;
    }

    .contact .contact-right {
        display: flex;
        justify-content: flex-start;
    }

    .footer {
        height: 15vh;
    }

    .footer .container {
        height: 100%;
    }

    .footer h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .hero h2 {
        font-size: 20px;
    }

    .hero h2 i {
        font-size: 20px;
        margin: 0 10px;
    }

    .project-item h3 {
        font-size: 30px;
    }

    .project-item a {
        font-size: 20px;
    }

    .footer h4 {
        font-size: 14px;
    }
}